//- 1. sử dụng LAYOUT = EXTENDS
extends ../layout/common.pug
block content

    //- 2. NỘI DUNG RIÊNG TỪNG BLOCK
    h3(class="text-center mt-2") USER_SEARCH_PAGE

    //- FORM : SEARCH_REQUEST
    //- ACTION:
    //- METHOD: GET - đẩy data lên URL - BE lấy = "REQUEST.QUERY"
    .container
        .row.mt-2
            div(class="col-3")
            form(action='/users/searchRequest', method='GET', class="col-6")
                //- HIỂN THỊ KEYSEARCH - sau khi có kết quả = "value=keyNameSearch"
                input(type='text', name='keyNameSearch' value=keyNameSearch || '', class="col-8")
                button(class="col-4 btn btn-primary") SEARCH

            hr
        
        if listUsers && listUsers.length
            .row.mt-4
                table.table
                    hr
                    thead
                        tr
                        th(scope='col') ORDER
                        th(scope='col') AVATAR
                        th(scope='col') NAME
                        th(scope='col') EMAIL
                        th(scope='col') ACTION
                    tbody
                        //- PUG - IF điều kiện
                        //- PUG: vòng lặp - "EACH IN"
                        each user, key in listUsers
                            tr
                                th(scope='row') #{key + 1}
                                td 
                                    img(src=user.avatar, class="imgAvatarListUser")
                                td #{user.name}
                                td #{user.email}
                                td 
                                    a(href='/users/details/' + user._id, class="card-link") view details
                                    //- a(href='/users/' + user.id, class="card-link") viewDetails