//- CÁCH 2 - SỬ DỤNG KẾ THỪA - TRONG PUG = "EXTENDS" + "BLOCK CONTENT"

extends ../layout/common.pug
block content

    .container
        .row.mt-2
            .col-6
                h1 Products List - Pagination
            .col-2
            .col-4
                form.ml-auto(action="/users/searchRequest", method="GET" class="container")
                    div(class="row justify-content-start")
                        input(type="text", name="nameKeySearch", class="col-8 mr-2")
                        button(class="col-4 ml-2 btn btn-primary") SEARCH

            hr

        .row.mt-2
            //- 
            each product in productList
                .col-3.p-1
                    //- .card.m-1(style='width: 18rem; height: 460px; padding: 4px')
                    .card.custom
                        img.card-img-top.custom(src=product.image, alt='Card image cap')
                        .card-body
                            h5.card-title.custom #{product.name}
                            p.card-text.custom #{product.description}   
                            div(class="d-grid gap-2")                        
                                a.btn.btn-primary(href='/cart/add/' + product._id) add to cart
        
        .row.mt-2
            nav(aria-label='...')
                //- CYDB - KHAI BÁO BIẾN "- VAR N = 1"
                - var n = 1;
                
                //- TRÔI PHẢI: d-flex.justify-content-end
                //- https://getbootstrap.com/docs/4.0/utilities/flex/
                ul.pagination.d-flex.justify-content-end
                    
                    //- 1.PREVIOUS:
                    if queryParams.currentPage == 1
                        //- DISABLED
                        li.page-item.disabled 
                            a.page-link(href='/products/pagination?page=1') Previous
                    else
                        li.page-item
                            a.page-link(href='/products/pagination?page=' + (queryParams.currentPage - 1)) Previous

                    //- 2.PAGE_NUMBER: .listPageNumber
                    
                    while n <= queryParams.countPages
                        if n==queryParams.currentPage
                            //- ACTIVE
                            li.page-item.active
                                //- CỘNG CHUỖI = '/products/pagination?page=' + n
                                //- GÁN VALUE + TĂNG 1 : "=n++"
                                a.page-link(href='/products/pagination?page=' + n)=n++
                        else
                            //- THƯỜNG
                            li.page-item
                                a.page-link(href='/products/pagination?page=' + n)=n++
                    

                    //- 3.NEXT:
                    if queryParams.currentPage == queryParams.countPages
                        //- DISABLED
                        li.page-item.disabled 
                            a.page-link(href='/products/pagination?page=1') Next
                    else
                        //- KHAI BÁO BIẾN : "- var nextPage = "
                        //- ++queryParams.currentPage : CỘNG TRƯỚC - GÁN SAU.
                        - var nextPage = ++queryParams.currentPage
                        li.page-item
                            //- CỘNG CHUỖI = '/products/pagination?page=' + nextPage
                            a.page-link(href='/products/pagination?page=' + nextPage) Next
